html {
    font-family: Arial, Helvetica, sans-serif;
}


/* body styled with background image*/

body {
    margin: 0;
    background: #504f4f;
    font-size: 16px;
    background-image: url("../img/spaceXLogo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 900px;
    border-radius: 10px;
}

.mainContainer {
    margin: 15px auto;
    max-width: 1000px;
   
}

/*calendar container style*/

.calendarContainer {
    background: #ffffff;
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
    overflow: auto;
}

/*navigation buttons style*/

.navigationCalendarContainer button {
    cursor: pointer;
    display: inline-block;
    background: #005174;
    color: #fff;
    border: 1px solid #005174;
    border-radius: 50%;
    padding: 5px 10px;
}

/*make table extend full*/

.calendarTable {  
    width: 100%;
}

/*table cell style*/

    .calendarTable td, .calendarTable th {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .calendarTable th {
        border: 1px solid #e2e2e2;
    }

        .calendarTable td {
            border-bottom: 1px solid #e2e2e2;
        }

        .userSelection.selected {
            font-weight: bold;
            border: 1px solid #4F548F;
        }


/* highlited grey sunday */

.userSelection:nth-child(1) {
    background-color: #D9D9D9;
}

/*Header date style*/

#presentDate {
    text-align: center;
    margin-top: 0;
}


/* navigation container style*/

.navigationCalendarContainer {
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
    clear: both;
}

#previousDate {
    float: left;
}

#nextDate {
    float: right;
}

/* select date style*/

.selectDateContainer {
    margin-top: 5px;
    border-top: 1px solid #005174;
    padding: 10px 0;
}

    .selectDateContainer select {
        cursor: pointer;
        display: inline-block;
     
        background: #ffffff;
        color: #585858;
        border: 1px solid #bfc5c5;
        border-radius: 3px;
        padding: 5px 5px;
    }
